
{% extends "apt_base.html" %}
{% block content %}
<progress max="600" value="108" ></progress>

<br><br><br>

<form action="/aptq_2" method="post" id="stream">
<div style="margin:0 auto" align=center>
<font  face="Aspergit">
<p><h1>2) 	Where would you like YOUR dream college to be?    </p></h1>
</font>




<font color='white' face="Aspergit">
<label class="container"><br>USA
  <input  type="checkbox" id="country1" name="country"  value="Usa">
  <span class="checkmark"></span>
</label>
<br>

<label class="container"><br>Germany
  <input type="checkbox" id="country2" name="country"  value="Germany" >
  <span class="checkmark"></span>
</label>
<br>

<label class="container"><br>India
  <input type="checkbox" id="country3" name="country"  value="India" >
  <span class="checkmark"></span>
</label>
<br>


</font>

<font face='Aspergit'>

<p align='right'><font face='Aspergit'><b><input type="submit" value= "Next Question" id='nq' style= "color:black;
    font: 1em/1.25em Aspergit, Helvetica, sans-serif; font-weight: bold;"></b></font></input></p>
{% endblock %}















<!--108
216
325
435
540
600-->















