
{% extends "apt_base.html" %}
{% block content %}
<progress max="600" value="540" ></progress>

<br><br><br>

<form action="/aptq_6.html" method="post" id="stream">
<div style="margin:0 auto" align=center>
<font  face="Aspergit">
<p><h1>6)	Your choice of fee structure: </p></h1>
</font>



<font color='white' face="Aspergit">
<label class="container"><br>Entrance
  <input type="checkbox" id="fee1" name="fee"  value="entrance" >
  <span class="checkmark"></span>
</label>
<br>

<label class="container"><br>Industrial Quota
  <input type="checkbox" id="fee2" name="fee"  value="industrial quota">
  <span class="checkmark"></span>
</label>
<br>



</font>

<font face='Aspergit'>

<p align='right'><font face='Aspergit'><b><input type="submit" value= "View Results" id='nq' style= "color:black;
    font: 1em/1.25em Aspergit, Helvetica, sans-serif; font-weight: bold;"></b></font></input></p>
{% endblock %}

<!--108
216
325
435
540
600-->
